---
import SiteLayout from "../layouts/SiteLayout.astro";
import FilterButton from "../components/FilterButton.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<SiteLayout>
  <main class="pb6">
    <section class="ph3 ph5-l">
      <div class="flex items-center flex-column">
        <h1 class="f2 f1-m f1-l lh-title mb1 mt4 pt2 tc">How it works</h1>

        <p class="subheadline f6 f5-ns lh-copy mb3 pb1 ph2 tc">
          Broward Staff is a reverse job board where employers, hiring managers,
          and recruiters see job-seekers in cities across Broward County.
        </p>
      </div>
    </section>
    <section id="steps-section" class="ph3 ph5-l pt5 pb4">
      <div class="steps flex items-center flex-column flex-row-l mw8 center">
        <div class="w-100 step tc">
          <h2 class="step-number f-subheadline mv0 white">1</h2>
          <h3 class="step-title">Browse job-seeker profiles</h3>
          <p class="step-description lh-copy center">
            Review as many candidates as you need to make the right hiring
            decision for your business.
          </p>
        </div>

        <div class="w-100 step tc">
          <h2 class="step-number f-subheadline mv0 white">2</h2>
          <h3 class="step-title">Pick your favorites</h3>
          <p class="step-description lh-copy center">
            Choose your favorite candidates and add them to your list.
          </p>
        </div>

        <div class="w-100 step tc">
          <h2 class="step-number f-subheadline mv0 white">3</h2>
          <h3 class="step-title">Contact your top picks</h3>
          <p class="step-description lh-copy center">
            Pay $17 and receive the candidate's full profile, complete with
            their résumé and contact information.
          </p>
        </div>
      </div>
    </section>
  </main>
</SiteLayout>

<style is:inline>
  html {
    background-color: white;
  }

  header,
  .mobile-menu {
    background-color: white;
  }

  .filters {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  .subheadline {
    max-width: 400px;
  }

  .step-description {
    max-width: 320px;
  }

  .steps {
    row-gap: 5em;
    column-gap: 3em;
  }

  .steps div {
    height: 180px;
  }

  .step-number {
    font-family: "Work Sans", sans-serif;
    -webkit-text-stroke: 3px black;
  }

  main {
    background-image: url("https://webfirm.sirv.com/Broward%20Staff/blue-circle.svg"),
      url("https://webfirm.sirv.com/Broward%20Staff/yellow-circle.svg");
    background-repeat: no-repeat;
    background-position-x: 17em, 60em;
    background-position-y: 17em, -10em;
    background-size: 324px;
  }
</style>
