---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="vh-100 flex justify-center items-center">
    <h1 class="f1">Pricing</h1>
  </div>
</SiteLayout>

<style>
  html {
    background-color: var(--theme-yellow);
  }
</style>
