---
import SiteLayout from "../layouts/SiteLayout.astro";
import GreenButton from "../components/GreenButton.astro";
---

<SiteLayout>
  <main class="ph3 ph5-l pb5">
    <section class="flex justify-center">
      <div>
        <h1 class="f2 f1-m f1-l lh-title mb1 mt4 pt2 tc">Pricing</h1>

        <p class="subheadline f6 f5-ns lh-copy mb3 pb1 ph2 tc">
          Only pay when you find a candidate you like.
        </p>
      </div>
    </section>

    <section class="flex flex-column justify-center items-center pv5">
      <article
        class="price-card bg-white ba b--black bw2 flex items-center justify-center mb4"
      >
        <div
          class="price-card--inner ba b--black bw2 tc pv4 flex items-center flex-column"
        >
          <h2 class="mv0">$17/Profile</h2>
          <p class="lh-copy price-summary f6 ph2">
            Browse as many candidate profiles as you want and only pay to see
            their contact details
          </p>
        </div>
      </article>
      <div>
        <GreenButton id="ctaButton" href="/profiles/">
          Browse Profiles
        </GreenButton>
      </div>
    </section>
  </main>
</SiteLayout>

<style is:inline>
  html {
    background-color: var(--theme-yellow);
  }

  .subheadline {
    max-width: 360px;
  }

  main {
    min-height: 80vh;
  }

  article {
    width: 236px;
    height: 240px;
    border-radius: 1.5em;
  }

  .price-card--inner {
    background-color: var(--theme-red);
    width: 196px;
    height: 200px;
    border-radius: 1.2em;
  }

  .price-summary {
    width: 180px;
  }

  #ctaButton {
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 236px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
