---
---

<button class="ba br3 b--light-gray bg-white ph3 pv2 f6 pointer black">
  <slot />
</button>

<style>
  button:hover {
    background-color: var(--theme-light-blue);
    border-color: var(--theme-light-blue);
  }
</style>
