---
---

<footer class="bg-white relative ph3 ph5-l flex flex-column justify-between">
  <div class="footer-top flex items-center">
    <div>
      <img
        src="https://webfirm.sirv.com/Broward%20Staff/logo-in-black.svg"
        alt="Broward Staff mosaic hummingbird logo with black wordmark"
        width="167"
      />

      <nav class="footer-nav list f6 pt3">
        <li class="di">
          <a href="/how-it-works/" class="link">How it works</a>
        </li>
        <li class="di mh3">
          <a href="/pricing/" class="link">Pricing</a>
        </li>
        <li class="di">
          <a href="/contact/" class="link">Contact</a>
        </li>
      </nav>
    </div>
  </div>

  <div class="footer-bottom f7">
    <div class="cf pv3">
      <div class="fl w-100 w-50-ns pa2 pl0-ns tc tl-ns copyright-notice">
        &copy; {new Date().getFullYear()} Broward Staff. All Rights Reserved.
      </div>

      <div class="fr w-100 w-50-ns pa2 pr0-ns pb3">
        <nav class="footer-links tc tr-ns">
          <li class="di">
            <a href="/terms/" class="link">Terms</a>
          </li>
          <li class="di mh3">
            <a href="/privacy/" class="link">Privacy</a>
          </li>
          <li class="di">
            <a href="/cookies/" class="link">Cookies</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    min-height: 250px;
    border-top: 1px solid #ebebeb;
  }

  .footer-top {
    height: 199px;
  }

  .footer-bottom {
    border-top: 1px solid #ebebeb;
  }

  a,
  footer-links,
  .copyright-notice {
    color: #595959;
  }
</style>
