---
---

<button class="ba br3 ph3 pv2 f6 white pointer">
  <slot />
</button>

<style>
  button {
    width: fit-content;
    background-color: var(--theme-green);
    border-color: var(--theme-green);
  }
</style>
